/po/POTFILES
/intl/po2tbl.sed
/stamp-h1
/autom4te.cache
*.tmp
.deps
Makefile
*.o
xtraceroute.1
*~
Makefile.in
config.*
xtraceroute.spec
configure
compile
aclocal.m4
depcomp
install-sh
missing
share/xtraceroute-resolve-location.sh
xtraceroute
TAGS
